body {
    margin-left:0px;
    margin-right:0px;
}

.section-header {
    display: flex;
    color:purple;
    max-width: 1200px;
    max-height: 64px;
    vertical-align: middle;
}
.section-header img{
    margin: auto 10px auto 10px;
    max-width: 48px;
    height:100%
}

.background-flair {
    background-color: white;
}

.navigation-head {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
    height: 140px;
    max-width:1200px;
}

.navigation-head ul {
    margin: auto 0px auto auto;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
    margin: auto 0px auto auto;
    max-width:720px;
    vertical-align:middle;
}

.site-logo {
    max-width: 480px;
    display:inline-block;
    margin:auto 10px auto 10px;
}

.site-logo h1 {
    color:#8331FA;
}

.site-logo a:link {
    text-decoration: none;
}

.menu-item {
    color:black;
    margin:auto 10px auto 10px;
    font-size:18px;
    display:inline;
}

.menu-item:link {
    text-decoration: none;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25em;
    position: relative;
}
  
.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
    width: 100%;
}

#head-rule {
    color:blue;
    width:95%;
    margin: 5px auto 20px auto;
}

.breadcrumbs {
    max-width: 1200px;
    margin:auto;
}
.breadcrumbs a{
    color: rgb(100, 100, 100);
    transition: color 0.5s;
}

.breadcrumbs a:hover{
    color:black;
}

.breadcrumbs p{
    display:inline;
    color: rgb(100, 100, 100);
}
.breadcrumbs a:link {
    text-decoration: none;
}
.breadcrumbs a:visited {
    text-decoration: none;
}

.projects {
    opacity: 1.0;
    margin: auto;
    /* max-height: 450px; */
    max-width:1200px;
}

@media screen and (max-width: 1259px){
    .projects {
        max-width: 95%;
    }
}

.projects h2 {
    /* text-align: center; */
    display: inline;
}

.projects-grid {
    margin: auto 50px;
    display:grid;
    grid-auto-flow: column;
    column-gap:25px;
    grid-template-columns: repeat(4, 1fr);
}


.projects-grid a:link {
    text-decoration: none;
    color:black;
}

.projects-grid a:visited {
    text-decoration: none;
    color:black;
}

.projects-grid-item {
    display:flex;
    flex-direction: column;
    margin:auto;
}

.projects-grid-item img{
    width:100%;
    transition: opacity 0.75s;
}
.projects-grid-item img:hover{
    opacity:0.8;
}

.projects-grid-item div{
    box-shadow: 0px 10px 10px #d1d0d0;
    min-height: 80px;
}

.projects-grid-item p{
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.5s;
}

.projects-grid-item p:hover{
    margin-left: 20px;
    margin-right: 20px;
    color:red;
}


.skills h1 {
    text-align: center;
}

.content{
    margin: 10px auto 10px auto;
    max-width:1200px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.horizontal-list{
    margin: 10px auto 10px auto;
    vertical-align: middle;
    max-width: 400px;
}

.horizontal-list li::marker {
    color:blue;
}

.horizontal-list ul{
    flex:50%;
    margin: auto;
}

.focal-image {
    display:flex;
    max-width: 75%;
    /* max-height: 75%; */
    display: block;
    margin:auto;
}

.more-work button {
    margin: 10px 20px 10px auto;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 16px;
    border-radius: 10px;
}

.color-change-button {
    background-color: black;
    transition: background-color 0.5s;
}

.color-change-button:hover {
    background-color: rgb(219, 15, 15);
}

.more-work {
    text-decoration: none;
    color:black;
}

.indented {
    margin-left:30px;
}

.numerals {
    list-style-type:upper-roman;
}


.readme {
    display:flex;
    flex-direction:column;
    margin: 20px 2%;
    max-width:1200px;
    max-height:600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0px 10px 10px #d1d0d0;
    background-color: rgb(240,240,240);
    border-radius:5px;
}

code {
    background-color: rgb(192, 192, 192);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    .menu-item {
        margin:auto 10px 0.6em 0px;
    }
    .navigation-menu{
        flex-direction: column;
        margin: auto 0px auto auto;
    }
    .focal-image {
        max-width: 99%;
    }
    .readme {
        margin: 20px 10%;
    }
    .projects-grid {
        row-gap:25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}